/* this is title */
.heading2Xl {
    cursor: hand; 
    cursor: pointer;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 100;
    letter-spacing: -0.05rem;
    margin: 2rem 0;
    text-align: center
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
  }

  .artistphoto {
    /*float: right;*/
    width: 50%;
    height: auto;
    margin-left: 10px;
  }

  .topline p{
    display:inline-block;
    vertical-align:top;
  }

.clearcase{
  clear:both;
}




.accordion {
  width: 500px;
  max-width: 100%;
}

/*------------------------------

ここからアコーディオンのCSS

------------------------------*/
/* チェックボックスを非表示にする */
.accordion-hidden{
  display: none;
}

/* Question部分 */
.accordion-open {
  display: block;
  padding: 10px;
  background: #52a261;
  cursor: pointer;
  margin: 5px 0;
  font-weight: 700;
}

/* Answer部分は最初は表示しない */
.accordion-close {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: 0.5s;/* 表示速度の設定 */
}

/* チェックボックスにチェックが入ったらAnswer部分を表示 */
.accordion-hidden:checked + .accordion-open + .accordion-close {
  height: auto;
  opacity: 1;
  padding: 10px;
  background: #55acee;
  font-weight: 700;
}